# AWS Regional Settings
AWS_REGION=us-east-1

# Table Names
DYNAMODB_TABLE_USERS=UsersTable
DYNAMODB_TABLE_TRANSACTIONS=TransactionsTable

# Notification Pre-settings
SES_SENDER_EMAIL=no-reply@test.com
SNS_SMS_SENDER=BTG_Pactual

# Local Server Settings
PORT=3000
NODE_ENV=development

# Cognito Settings (Optional for offline tests)
COGNITO_USER_POOL_ID=us-east-1_example
COGNITO_CLIENT_ID=example_client_id
